<!DOCTYPE html>
<html>
<head>
<title>校园电动车充电系统登录页面</title>
<meta http-equiv="content-Type" content="text/html" charset="utf-8">
<link rel="stylesheet" type="text/css" href="/static/css/logon.css">

<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/js/logon.js"></script>
<script language="javascript">
	function check(form) {
		if (form.s_number.value=="") {
			alert("请输入学号！");
			form.s_number.focus();
			return false;
		}

		if (form.pwd.value=="") {
			alert("请输入密码！");
			form.pwd.focus();
			return false;
		}
	}
</script>
</head>
<body>
	<div class="content">
		<div class="ucSimpleHeader">
			<a href="##" class="Logo"></a>
			<div class="trigger">
				<a href="index.html">登录</a>
				<span>&nbsp;|&nbsp;</span>
				<a href="regist.html">注册</a>
			</div>
		</div>
		<form  name="form2" method="post" action="dologin" id="#mainForm" class="mainForm"  >
                    {% csrf_token %}
			<div class="normalInput">
				<input name="student_number" type="text" class="phone" maxlength="11" placeholder="学号">
			</div>
			<span class="error error1"></span>
			<div class="normalInput">
				<input name="password" type="password" class="password" maxlength="16" autocomplete="off" placeholder="请输入密码">
			</div>
			<span class="error error2"></span>
			<div class="rememberField">
				<a href="#" target="_blank" class="linkABlue">忘记密码？</a>
				<span ></span>
			</div>
            <input name="openid" type="text" value="{{ openid }}" style="display: none">
			<input class="fullBtnBlue" type="submit" value="登陆" onclick="return check(form2)"/>
			<a id="nlogin" href="regist?openid={{ openid }}" target="_blank" class="linkABlue">还没注册</a>
		</form>
    </div>
</body>
</html>