<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
<title>校园电动车充电系统</title>
<meta http-equiv="content-Type" content="text/html" charset="utf-8">
<link rel="stylesheet" type="text/css" href="/static/css/login.css">

<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/js/login.js"></script>
<script language="javascript">
	function check(form) {
		if (form.s_number.value=="") {
			alert("请输入学号！");
			form.s_number.focus();
			return false;
		}
		if (form.username.value=="") {
			alert("请输入用户名");
			form.username.focus();
			return false;
		}
	}
</script>

</head>
<body>
	<div class="content">
		<form name="form1" method="post" action="doregist" id="#mainForm" class="mainForm">
                {% csrf_token %}
			<div class="normalInput">
				<input name="student_number" type="text" class="s_number" maxlength="11" placeholder="学号">
			</div>
			<span class="error error1"></span>
			<div class="normalInput">
				<input name="username" type="text" class="username" maxlength="32" placeholder="账户名" autocomplete="off">
			</div>
			<span class="error error2"></span>
			<div class="normalInput">
				<input name="password" type="text" class="password" maxlength="16" autocomplete="off" placeholder="密码">
			</div>
			<span class="error error3"></span>
			<div class="rememberField">
				<span class="checkboxPic check_chk" tabindex="-1" isshow="false">
					<i class="i_icon"></i>
				</span>
				<label class="pointer">我已阅读并接受</label>
				<a href="#" target="_blank" class="linkABlue">《校园电动车管理条例》</a>
			</div>
			<span class="otherError">请确认已阅读并同意校园电动车管理条例</span>
            <input name="openid" type="text" value="{{ openid }}" style="display: none">
			<input name="submit" type="submit" value="绑定" class="fullBtnBlue" onclick="return check(form1)"/>
		</form>
    </div>
</body>
</html>