<!DOCTYPE html>
<html>
<head>
<title>success</title>
<meta http-equiv="content-Type" content="text/html" charset="utf-8">
<link rel="stylesheet" type="text/css" href="/static/css/success.css">
</head>
<body>
	<div class="content">
		<form id="#mainForm" class="mainForm">

               {% if flag == "1" %}
<p>welcome!</p>
<p>您的用户名：{{ user.username }}</p>
<p>您的密码：{{ user.password }}</p>
       {% elif flag == "2" %}
       <p>{{ user.username }}您已成功绑定</p>
       {% else %}
      <p>绑定成功！</p>
 <p>您的用户名：{{ user.username }}</p>
<p>您的密码：{{ user.password }}</p>
    {% endif %}
		</form>
    </div>
</body>
</html>