<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--开启对web app的支持-->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!--主要是正对苹果手机将数字自动识别为号码-->
    <meta name="format-detection" content="telephone=no" />
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <!-- qq浏览器 -->
    <meta name="x5-fullscreen" content="true">
    <meta name="x5-orientation" content="portrait">
    <meta id="eqMobileViewport" name="viewport" content="width=320, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script>
        var g = document.documentElement.clientWidth / 320;
        document.getElementById('eqMobileViewport').setAttribute("content", "width=320, initial-scale=" + g + ", maximum-scale=" + g + ", user-scalable=no")
    </script>
    <title></title>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/jquery.fullpage.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        html,body {
            font-family: "Microsoft YaHei UI Light";
            width: 100%;
        }

        #img {
            width: 10em;
            height: 10em;
            margin-top: 8em;
        }
        #footer {
            position: absolute;
            bottom: 0;
            background-color: #262626;
            width: 100%;
        }
        #h {
            text-align: center;
            font-family: "Microsoft YaHei UI";
            font-size: 1.5em;
            color: #265a88;
            margin-top: 20em;
        }
        #copy{
            color: #d4d4d4;
            font-size: 0.2em;
        }
        #step {
            margin-left: -2em;
            margin-top: 50em;
        }
        #QR {
            margin-top: 10em;
        }


    </style>
</head>
<body>
<div id="fullpage">
    <div id="header" class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="menu-nav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index">SEMS  智能电动车管理系统</a>
            </div>
            <!-- 导航栏 -->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#page2"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;操作说明</a> </li>
                    <li><a href="#page3"><span class="glyphicon glyphicon-qrcode"></span>&nbsp;二维码</a> </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section s1">
        <div class="container">
            <div class="row">
                <div class="col-xs-12" align="center">
                    <img id="img" src="/static/img/sems_logo2.png">
                </div>
            </div>
            <div class="row">
                <h1 id="h">安全高效便捷</br></br>智能电动车管理系统</br></h1>
            </div>
        </div>
    </div>

    <div class="section s2">
        <div class="container">
            <div class="row">
                <div class="col-xs-12" align="center">
                    <h1 >操作说明</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <ol id="step">
                        <li>仔细阅读《电动车管理条例》。</li>
                        <li>在微信公众号<span><strong>我的-->绑定页面</strong></span>，将微信与学号绑定。</li>
                        <li>准备充电时，在<span><strong>充电-->附近</strong></span>页面查看附近充电站的空位情况。</li>
                        <li>在充电站刷卡充电。</li>
                        <li>充电过程中在<span><strong>充电-->实时状态</strong></span>页面查看充电实时情况，充电过程曲线可以通过反向控制<span><strong>暂停充电</strong></span>和<span><strong>继续充电</strong></span>。</li>
                        <li>充电完毕会收到请及时取车的推送。系统会超时计费，长期占用车位，会被管理员清理。</li>
                        <li>取车后，系统会推送此次消费账单。</li>
                        <li>在 <span><strong>我的-->消费记录</strong></span>查看充电历史记录。</li>
                        <li>后台会在充电时，推送电动车电池健康状态.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="section s3">
        <div class="container">
            <div class="row">
                <div class="col-xs-12" align="center" id="QR">
                    <img src="/static/img/QR_code.png">
                </div>
            </div>
        </div>
        <footer class="modal-footer" id="footer">
            <div class="container" >
                <div class="row">
                    <div class="col-xs-12">
                        <div align="center">
                            <p id="copy">
                                Copyright &copy
                                <a href="index.html">SEMS</a>
                                &nbsp;|&nbsp;&nbsp;2016.SEMS All rights reserved.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/js/jquery-3.0.0.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.fullpage.min.js"></script>
<script src="/static/js/jquery.easings.min.js"></script>
<script src="/static/js/move.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#fullpage').fullpage({
            sectionsColor: ['#FFFFFF', '#ffff00','#FF6666'],
            controlArrows: false,
            navigationTooltips:['安全高效便捷','操作说明'],
            anchors:['page1','page2','page3'],
            verticalCentered: false,   //内容不垂直居中
            fixedElements: '#header',
            /*autoScrolling:false,*/
            /*scrollBar:true,*/
            paddingTop:'60px',

            afterLoad: function (link, index) {
                switch (index) {
                    case 1:
                        move('.s1 img').scale(1.5).end();
                        move('.s1 h1').set('margin-top','20%').end();
                        break;
                    case 2:
                        move('.s2 h1').scale(0.7).end();
                        move('.s2 ol').set('margin-top','5%').end();
                        break;
                    case 3:
                        move('#QR').scale(1.5).end();
                        break;
                    default:
                        break;
                }
            },
            onLeave:function (link,index) {
                switch (index) {
                    case 1:
                        move('.s1 img').scale(1).end();
                        move('.s1 h1').set('margin-top','20em').end();
                        break;
                    case 2:
                        move('.s2 h1').scale(1).end();
                        move('.s2 ol').set('margin-top','50em').end();
                        break;
                    case 3:
                        move('#QR').scale(1).end();
                        break;
                    default:
                        break;
                }

            },
            afterRender:function () {
            }
        });
    });
</script>
</body>
</html>